<!DOCTYPE html>
<html  lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="i/favicon-default.png">
		<!-- AOS 3.0.0-beta.6 plugin CSS (Animations) -->
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&subset=latin&display=swap" rel="stylesheet">
		<!-- Startup CSS + Bootstrap CSS (Styles for all blocks) - Remove ".min" if you want to edit a css code -->
		<link href="css/styles.min.css" rel="stylesheet" />
		<!-- jQuery 3.6.0 (uncomment line below if you need jQuery) -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
		<!-- Open graph settings (social networks sharing settings) -->
		<meta name='twitter:card' content='summary_large_image'>
		<!-- Open graph settings end -->
	</head> 
	<body>

<!-- Ecommerce 10 -->
	<section class="py-10 py-lg-20 bg-bg-3">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="i/artistsvaginas.jpg" alt="" class="w-100 mb-12 mb-md-0" data-aos="fade-down" data-aos-delay="0">
				</div>
				<div class="col-md-6">
					<div class="ps-md-6">
						<p class="fs-3 mb-6" data-aos="fade-down" data-aos-delay="150">
							Bio-art Show
						</p>
						<h2 class="display-5 mb-6" data-aos="fade-down" data-aos-delay="250">
							Artist's Vaginas
						</h2>
						<p class="fs-3 mb-8 remove-br-md" data-aos="fade-down" data-aos-delay="400">
							Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
						</p>
						<div class="w-50" data-aos="fade-down" data-aos-delay="500">
							<div class="mb-8 border-bottom border-bottom-dark-3">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog 7 -->
		<section class="bg-bg-3 py-10 py-lg-20">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10 col-xl-8">
						<div class="mb-10 row justify-content-between">
							<div class="col-auto" data-aos="fade-down" data-aos-delay="0">
								<a href="#" class="text-dark-1">
									Bio-art Show
								</a>
								<span class="text-dark-1">
									 / 
								</span>
								<span class="text-dark-2">
									Artist's Vaginas
								</span>
							</div>
							<div class="col-auto" data-aos="fade-down" data-aos-delay="250">
								<p class="mb-0">
									2019
								</p>
							</div>
						</div>
						<h1 class="display-3 mb-6 mb-md-15" data-aos="fade-down" data-aos-delay="500">
							What happens when a group of women appropriates of their own intimate microbiota to make art? 
						</h1>
						<p class="mb-8 fs-1 text-dark-1" data-aos="fade-down" data-aos-delay="750">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
						<p class="mb-8 fs-1 text-dark-1" data-aos="fade-down" data-aos-delay="750">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
						<p class="fs-1 mb-0 text-dark-1" data-aos="fade-down" data-aos-delay="1000">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

		<!-- AOS 3.0.0-beta.6 plugin JS (Animations) -->
		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		
		<!-- Startup JS (Custom js for all blocks) - Remove ".min" if you want to edit a JS code -->
		<script src="js/scripts.min.js"></script>

	</body>
</html>